@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body{
  height: 100%;
  background-color: #010b19;
}

#root,.app,.content{
  height: 100%;
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
}
