@import url(https://fonts.googleapis.com/css2?family=Audiowide&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --primary : #FF4500;
  --secondary : #00FFFF;
  --accent : #FF00FF;
  --neon-pink: #FF1493;
  --pure-black: #000000;
  --dark-gray: #121212;
  --text-soft: #EAEAEA;
  --text-light: #FFFFFF;
  --navbar-bg-color : #010b19;
  --navbar-txt-color : #FFFDF0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Audiowide", sans-serif;
  scroll-behavior: smooth;
}

h1{
  font-size: 72px;
}
h2{
  font-size: 48px;
}
h3{
  font-size: 36px;
}
h4{
  font-size: 24px;
}
h5{
  font-size: 18px;
}

p{
  font-family: "Roboto", serif;
}

body{
  height: 100%;
  background-color: #000000;
}

#root,.app,.content{
  height: 100%;
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
}
