@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


.background-logo {
    background-image: url("/logo/Logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100vw 100%;
    position: relative;
}

.deneme h1 {
    font-family: 'Audiowide', serif;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 30%;
    font-size: 3vw;
}

.socials {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 85%;
    left: 10%;
}
.icons {
    font-size: 3rem;
    color: blueviolet;
}

@media (max-width: 700px) {
    .icons {
        font-size: 2rem;
    }
}