.item {
    min-height: 50vh;
    min-width: 30vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}


.item img{
    height: 100%;
    width: 100%;
}



.inner-carousel{
    background-color: aqua;
    display: flex;
}

.carousel { 
    cursor: grab;
    overflow: hidden;
    background-color: azure;
}