.item {
    min-height: 50vh;
    min-width: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}


.item img{
    height: 100%;
    width: 100%;
}




.container {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.container::-webkit-scrollbar{
    display: none;
}